{% extends 'layout.html' %}

{% block content %}
    <div class="container" style="max-width: 480px; padding-bottom: 64px; padding-top: 64px;">
        <form action="" method="post">
            <h4>Tem certeza que deseja remover a receita "{{ receita.titulo }}"?</h4>
            <input type="submit" value="Remover" class="btn btn-danger">
            <a href="{% url 'receitas-update' pk=receita.id %}" class="btn btn-light float-right">Cancelar</a>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
