{% extends 'layout.html' %}

{% block content %}
    <div class="container" style="max-width: 720px">
        Ao utilizar o site você concorda com os seguintes termos:
            <ul>
                <li>As receitas apresentadas aqui auxiliam no alivio de sintomas, recomendamos buscar ajuda médica especializada.</li>
                <li>Não nos responsabilizamos por efeitos colaterais causadas pela ingestão dos produtos de receitas presentes aqui.</li>
            </ul>
    </div>
{% endblock %}
